No nsfw
No spamming
No doing any type of promo (dm/self, etc)
No advertising
No sending links to other discord servers
Do NOT talk about menus or other shops 
Do NOT spam Leminare he is most likely busy if he isnt responding
Spamming the n word or talking about cp will be met with a insta ban
Use Common Sense
